.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#tableTickets .table-column#columnRegion {
    -fx-alignment: CENTER;
}

#tableTickets .table-column#columnSerial {
    -fx-alignment: CENTER;
}

#tableTickets .table-column#columnType {
    -fx-alignment: CENTER;
}

#tableTickets .table-column#columnTitleID {
    -fx-alignment: CENTER;
}

#tableTickets .table-column#columnConsoleID {
    -fx-alignment: CENTER;
}

#tableTickets .table-column#columnDownload {
    -fx-alignment: CENTER;
}

#listCategory .list-cell {
                 -fx-alignment: center;
}